@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="jumbotron">
    <h1>CI/CD Sample Application</h1>
    <p class="lead">Sample ASP.NET MVC Core application using JQuery, Bootstrap, Webpack, Entity Framework Core, AutoMapper.</p>
    <p><a href="https://github.com/alanmacgowan/WebApplication.Core" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
